.admin *{
    display:block;
    font-weight: 200;
}

.admin{
    padding: 50px 20px 0px 0px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

}

.admin h1{
    font-size: 3rem;
    font-weight: 300;
    color: #000;
    line-height: 3.2rem;
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
}

.admin h2{
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.8rem;
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
}

.admin h3{
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.8rem;
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
}

.admin input{
    font-size: 2rem;
    text-align: center;
    border: none;
    padding: 20px;
    font-weight: bold;
    border-radius: 100px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: all 0.7s ease-in-out;
    transform: translate(0px, 999px);
    opacity: 0;
}

.admin label{
    font-size: 2rem;
    line-height: 5rem;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    transform: translate(0px, 999px);
}

.admin button {
    width: 50%;
    height: 50px;
    font-size: 1.5rem;
    background: #00aa63;
    color: #fefefe;
    border-radius: 100px;
    margin: 0 auto;
    border: none;
    transform: translate(0px, 999px);
    transition: all 0.7s ease-in-out;

}

.admin .reveal{
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;

}
