#customize-control-cv_header_text_color,
#customize-control-cv_buttons_hover_color,
#customize-control-cv_introduction_section_p_color,
#customize-control-cv_van_section_title_bg_color,
#customize-control-cv_skills_section_text_color,
#customize-control-cv_documents_section_bg_color
{
    margin-bottom: 30px;
}


#customize-control-cv_ed_lang_section_title_color,
#customize-control-cv_skills_section_title_color,
#customize-control-cv_prof_exp_section_title_color{
    margin-top: 30px;
}
