#cv_timeline-metabox *{
}

#cv_timeline-metabox div{
    padding: 0px 10px 20px 10px;
    margin-bottom: 20px;

}
#cv_timeline-metabox input[type="text"]{
    width: 100%;
    font-size: 1.4rem;
    padding: 10px;
}

#cv_timeline-metabox input[type="date"]{
    width: 100%;
    font-size: 1.4rem;
    padding: 10px;
    display: inline-block;
}

#cv_timeline-metabox input[type=checkbox]{
    padding: 10px;
    display: block;
    margin: 10px auto;

}

#cv_timeline-metabox label{
    font-size: 1.3rem;
    margin: 10px 0px;
    color: #999;
    display: block;
}
